@model IEnumerable<CineManager.Models.Entities.Usuario>
@{ ViewData["Title"] = "Usuario"; }
<h1>Usuario</h1>
<p><a asp-action="Create">Crear</a></p>
<table class="table"><thead><tr><th>Id</th><th>TipoDocumento</th><th>NumeroDocumento</th><th>Nombre</th><th>Apellido</th><th>Correo</th><th></th></tr></thead><tbody>
@foreach(var it in Model) { <tr><td>@it.Id</td><td>@it.TipoDocumento</td><td>@it.NumeroDocumento</td><td>@it.Nombre</td><td>@it.Apellido</td><td>@it.Correo</td><td><a asp-action="Edit" asp-route-id="@it.Id">Editar</a> | <a asp-action="Delete" asp-route-id="@it.Id">Eliminar</a></td></tr> }
</tbody></table>
